<!DOCTYPE html>
<html>
<head>
    <title>Disease Prediction</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
   
    <style>
       
        /* Styling for the prediction form */
        .prediction-form {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 20px;  
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            }

        .form-control {
            width: 100%;
            padding: 8px 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
            }

        .prediction-form button {
            background-color: #007bff; 
            border: 1px solid #007bff;
            color: #fff;
            padding: 12px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            }

        .prediction-form button:hover {
            background-color: #0062cc;
            }
       
    </style>
</head>

<body>
    <header>
        <h1>Sharp Health Prediction</h1>
        <nav>
            <ul>
                <li><a href="../pages/home.html">Home</a></li>
                <li><a href="../pages/health_info.html">Health Information</a></li>
                <li><a href="../pages/disease.html">Disease Prediction</a></li>
                <li><a href="../pages/location.html">Find Nearby Hospitals</a></li>
            </ul>
        </nav>
    </header>

    <div id="content">
        <h2>Predict a Disease</h2>
        <div class="prediction-form">
            <label for="diseaseSelect">Select a disease:</label>
            <select id="diseaseSelect" onchange="showDiseaseForm()">
                <option value="none">Select a Disease</option>
                <option value="heart">Heart Disease</option>
                <option value="diabetes">Diabetes Disease</option>
                <!-- Add more disease options as needed -->
            </select>

            <!-- Heart Disease Input Fields -->
            <div id="heartForm" class="disease-form" style="display: none;">
                <h3>Heart Disease Prediction</h3>
                <label for="heartAge">Age:</label>
                <input type="text" id="heartAge" placeholder="Enter age">
                
                <label for="heartSex">Sex:</label>
                <select id="heartSex" name="sex">
                    <option value="">Select</option> 
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
                
                <label for="heartChestPainType">Chest Pain Type:</label>
                <select id="heartChestPainType" name="chestPainType">
                    <option value="0">ASY</option>
                    <option value="1">ATA</option>
                    <option value="2">NAP</option>
                    <option value="3">TA</option>
                </select>
                <br>
                <label for="heartRestingBP">Resting BP:</label>
                <input type="text" id="heartRestingBP" placeholder="Enter resting BP">
                <br>
                <label for="heartCholesterol">Cholesterol:</label>
                <input type="text" id="heartCholesterol" placeholder="Enter cholesterol">
                <br>
                <label for="heartFastingBS">Fasting BS:</label>
                <input type="text" id="heartFastingBS" placeholder="Enter fasting BS">
                <br>
                <label for="heartRestingECG">Resting ECG:</label>
                <select id="heartRestingECG" name="restingECG">
                    <option value="1">Normal</option>
                    <option value="2">ST</option>
                    <option value="0">LHV</option>
                </select>
                <br>
                <label for="heartMaxHR">Max HR:</label>
                <input type="text" id="heartMaxHR" placeholder="Enter max HR">
                <br>
                <label for="heartExerciseAngina">Exercise Angina:</label>
                <select id="heartExerciseAngina" name="exerciseAngina">
                    <option value="1">Y</option>
                    <option value="0">N</option>
                </select>
                <br>
                <label for="heartOldpeak">Oldpeak:</label>
                <input type="text" id="heartOldpeak" placeholder="Enter oldpeak">
                <label for="heartStSlope">ST Slope:</label>
                <select id="heartStSlope" name="stSlope">
                    <option value="1">Flat</option>
                    <option value="2">Up</option>
                    <option value="0">Down</option>
                </select>
                <br>
                <button onclick="predictDisease()" id="predictButton">Predict</button>
            </div>

            <!-- Diabetes Disease Input Fields -->
            <div id="diabetesForm" class="disease-form" style="display: none;">
                <h3>Diabetes Disease Prediction</h3>
                <label for="diabetesAge">Age:</label>
                <input type="text" id="diabetesAge" placeholder="Enter age">
                <br>
                <label for="diabetesGender">Gender:</label>
                <select id="diabetesGender">
                    <option value="0">Female</option>
                    <option value="1">Male</option>
                    <option value="2">Other</option>
                </select>
                <br>
                <label for="diabetesHypertension">Hypertension:</label>
                <select id="diabetesHypertension">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br>
                <label for="diabetesHeartDisease">Heart Disease:</label>
                <select id="diabetesHeartDisease">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br>
                <label for="diabetesSmokingHistory">Smoking History:</label>
                <select id="diabetesSmokingHistory">
                    <option value="0">No Info</option>
                    <option value="1">Current</option>
                    <option value="2">Ever</option>
                    <option value="3">Former</option>
                    <option value="4">Never</option>
                    <option value="5">Not Current</option>
                </select>
                <br>
                <label for="diabetesBmi">BMI:</label>
                <input type="text" id="diabetesBmi" placeholder="Enter BMI">
                <br>
                <label for="diabetesHbA1cLevel">HbA1c Level:</label>
                <input type="text" id="diabetesHbA1cLevel" placeholder="Enter HbA1c level">
                <br>
                <label for="diabetesBloodGlucoseLevel">Blood Glucose Level:</label>
                <input type="text" id="diabetesBloodGlucoseLevel" placeholder="Enter blood glucose level">
                <br>
                <button onclick="predictDisease()" id="predictButton">Predict</button>
            </div>

            <!-- Add more disease input forms as needed -->

            <div id="diseaseResult">
                <h3>Prediction Result</h3>
                <p id="predictionMessage">Prediction result will appear here.</p>
                <canvas id="gaugeChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
    <script src="../../js/script.js"></script>

</body>
</html>
