<!DOCTYPE html>
<html>
<head>
    <title>Home - Your Website Title</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <style>
        /* Custom styles for the content */
        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        /* Style the welcome section */
        .welcome-section {
            background-color: #e0e0e0;
            padding: 20px;
            border-radius: 10px;
        }

        /* Style the offering section */
        .offering-section {
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Home</h1>
        <nav>
            <ul>
                <li><a href="../pages/home.html">Home</a></li>
                <li><a href="../pages/health_info.html">Health Information</a></li>
                <li><a href="../pages/disease.html">Disease Prediction</a></li>
                <li><a href="../pages/location.html"></a>Find Nearby Hospitals</li>
            </ul>
        </nav>
    </header>

    <div id="content" class="container">
        <div class="welcome-section">
            <h2>Welcome to Medi Smart Future </h2>
            <p>
                Discover the world of advanced disease prediction tools and comprehensive information on our website.
            </p>
        </div>

        <div class="offering-section">
            <h2>What We Offer</h2>
            <p>
                We provide state-of-the-art disease prediction tools and Health Facilites nearby. Explore our services to learn more about how we can assist you.
            </p>
        </div>
    </div>

    <script src="../js/script.js"></script>
</body>
</html>
